@model GUI.lab19.Models.Applicant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Applicant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._Experience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._Experience)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
